<div class="login-container">
    <div class="login-box">
      <div class="login-left">
        <img src="assets/img/left-image.jpg" alt="Imagen izquierda" class="login-img">
      </div>
      <div class="login-center">
        <img src="assets/img/logo.png" alt="Logo" class="login-logo">
        <h2>Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Tipo de Identificación</mat-label>
            <mat-select formControlName="tipoIdentificacion">
              <mat-option *ngFor="let tipo of tiposIdentificacion" [value]="tipo">{{ tipo }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Número de Identificación</mat-label>
            <input matInput formControlName="numeroIdentificacion" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>
  